footer {
    color: green;
    background-color: rgb(83, 255, 83);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}